.buttonSugestao {
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 27px;
  color: #000;
  border-radius: 7px;
  margin-bottom: 20px;
  cursor: pointer;
}

.buttonSugestao:hover {
  background-color: #e71d36;
  color: #fff;
  transition: 0.2s all;
}
